
<div class="list-group">
	<p class="list-group-item">Ceci est le profil de <%= User.all[(params[:id].to_i)-1].first_name %></p>

     <ul class="list-group">
          <li class="list-group-item">First name:<%= User.all[(params[:id].to_i)-1].first_name %></li>
          <li class="list-group-item">Last name:<%= User.all[(params[:id].to_i)-1].last_name %></li>
          <li class="list-group-item">Description:<%= User.all[(params[:id].to_i)-1].description %></li>
          <li class="list-group-item">Email:<%= User.all[(params[:id].to_i)-1].email%></li>
          <li class="list-group-item">Age:<%= User.all[(params[:id].to_i)-1].age%></li>
          <li class="list-group-item">City:<%= User.all[(params[:id].to_i)-1].city.name%></li>
     </ul>     
</div>