<div>     
      <div class="alert alert-success alert-dismissible">
                <strong><%= flash[:notice] %></strong> 
      </div>              
</div>  


<% @gossips.each_with_index do |gossip,index| %>
  <div class="card">
    <div class="card-body">
      <p class="card-text"><%= gossip.title %></p>
      <p class="card-text"><%= gossip.user.first_name%></p>
      <!-- On propose les actions pertinentes en fonction du user -->
      <% if logged_in?%>
        <%= link_to "consulter", gossip_path(gossip[:id]), class: "card-link btn btn-primary" %>
        <%= link_to "modifier", edit_gossip_path(gossip[:id]), class: "card-link" %>
        <%= link_to "Supprimer", gossip_path(gossip[:id]), class: "card-link btn btn-danger", data:{confirm:"êtes vous sûr?", method: "DELETE"} %>
      <% else %>
        <%= link_to "consulter", gossip_path(gossip[:id]), class: "card-link btn btn-primary" %>
      <% end %>

    </div>
  </div>
  <br>
<% end %>


